<%= stylesheet_link_tag 'articles', media: 'all' %>

<%= form_with model: article do |form| %>
    <div>
        <%= form.label :title %>
        <br/>
        <%= form.text_field :title %>
        <%= notice_edit_error(article.errors, [:title]) %>
    </div>

    <div>
        <%= form.label :body %>
        <br/>
        <%= form.text_area :body %>
        <%= notice_edit_error(article.errors, [:body]) %>
    </div>

    <div>
        <%= form.submit %>
        <% if article.persisted?%>
            <%= form.button "Delete", formmethod: :delete, data: wrap_delete_method %>
        <% end %>
    </div>
<% end %>