<h1><%= @article.title %></h1>
<div>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Delete", article_path(@article), data: wrap_delete_method %>
</div>
<p><%= @article.body %></p>

<div>
    <h2>Comments:</h2>
    <div>
        <h3>Add a comment:</h3>
        <%= render "comments/form", article: @article, comment: @comment %>
    </div>
    <div>
        <%= render @article.comments.select{|comment| comment.persisted?} %>
    </div>
</div>


